﻿<%@ Control Language="C#" AutoEventWireup="true" %>

<script language="c#" runat="server">
    public void Page_Load(object sender, EventArgs e){
		if (rbm.isNull(rbm.toStr(Session["user"]))) {
			Response.Redirect("/admin?returnUrl=" + Request.RawUrl);
		}

    }
</script>