
<div id="modal">
    <div class="modal-header-custom">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="close()"><span aria-hidden="true">&times;</span></button>
        <h1>Delete Resource?</h1>
    </div>
    <div class="modal-body-custom" data-ng-if="asset.bucketTypeID!=1">
        <div id="tab1">
            <div class="col-md-6 PadLeft">
                <div class="modal_image">
                    <img alt="{{asset.title}}" src="{{asset.path}}" />
                </div>
            </div>
            <div class="col-md-6 PadRight">
                <div class="modal_cnt">
                    <span class="modal_title">{{asset.title}}</span>
                    <span class="modal_description">{{asset.description}}</span>
                </div>
            </div>

            <div class="clearboth">&nbsp;</div>

            <div class="clearboth">&nbsp;</div>
        </div>

    </div>
    <div class="modal-body-custom" data-ng-if="asset.bucketTypeID==1">
        <div class="col-md-6 PadLeft">
            <div class="modal_video" data-ng-show="asset.bucketTypeID==1">
                <iframe width="500" height="370" data-ng-src="{{trustedLink}}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6 PadRight">
            <div class="modal_cnt">
                <span class="modal_title">{{asset.title}}</span>
                <span class="modal_description">{{asset.description}}</span>
            </div>
        </div>

        <div class="clearboth">&nbsp;</div>

        <div class="clearboth">&nbsp;</div>
    </div>
    </div>
    <div class="modal-footer-custom">
         <span ><a class="btn btn-default" data-ng-click="close()"> CANCEL </a></span> 
        <span ><a class="btn btn-danger" data-ng-click="deleteAsset(asset)"> DELETE</a></span>
    </div>
</div>

