﻿    <!-- PAGE CONTENT STARTS -->
<div id="PgCnt" class="col-md-9">
    <h1>Administration <img src="/images/bg_title.png" class="title_decor" /></h1>
    <asp:HiddenField ID="hdID" runat="server" />
    <asp:HiddenField ID="hdFilename" runat="server" />
    <asp:HiddenField ID="hdBucketType" runat="server" />
    <asp:HiddenField ID="hdWidth" runat="server" />
    <asp:HiddenField ID="hdHeight" runat="server" />
    <div class="form-horizontal MarginTopThirty">
        <div class="form-group">
            <asp:Label ID="lblTitle" runat="server" Text="TITLE" AssociatedControlID="txtTitle" CssClass="col-sm-2 control-label"></asp:Label>
            <div class="col-sm-10">
                <asp:TextBox ID="txtTitle" runat="server" CssClass="form-control"></asp:TextBox>
            </div>
        </div>
        <div class="form-group">
            <asp:Label ID="lblDescription" runat="server" Text="DESCRIPTION" AssociatedControlID="txtDescription" CssClass="col-sm-2 control-label"></asp:Label>
            <div class="col-sm-10">
                <asp:TextBox ID="txtDescription" runat="server" CssClass="form-control" TextMode="MultiLine"></asp:TextBox>
            </div>
        </div>
        <div class="form-group">
            <asp:Literal runat="server" ID="litBucketType"></asp:Literal>
            <asp:Label ID="lblBucketID" runat="server" Text="BUCKET" AssociatedControlID="ddlBucket" CssClass="col-sm-2 control-label"></asp:Label>
            <div class="col-sm-10">
                <asp:DropDownList ID="ddlBucket" runat="server" CssClass="form-control" AutoPostBack="true" OnSelectedIndexChanged="ddlBucket_SelectedIndexChanged"></asp:DropDownList>
            </div>
        </div>
        <div class="form-group">
            <div class="image_upload">
                <asp:Panel ID="pnlUpload" runat="server">
                    <label class="col-sm-2 control-label">UPLOAD FILE</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-8">
                                <div id="fileDiv"></div>
                                <div id="some-queue"></div>
                                <input id="file_upload" type="file" name="file_upload" class="file_upload" />
                            </div>
                            <div class="col-md-4">
                                <div class="image_preview">
                                    <asp:Literal runat="server" ID="litImagePreview"></asp:Literal>
                                </div>
                            </div>
                        </div>
                    </div>
                </asp:Panel>

                <asp:Panel ID="pnlVideoLink" runat="server" Visible="false">
                    <label class="col-sm-2 control-label">VIDEO LINK</label>
                    <div class="col-sm-10">
                        <asp:TextBox ID="txtVideoLink" runat="server" CssClass="form-control"></asp:TextBox>
                        <div class="video_preview">
                            <asp:Literal runat="server" ID="litVideoPreview"></asp:Literal>
                        </div>
                    </div>
                </asp:Panel>

                <div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <asp:Panel runat="server" ID="pnlTools" CssClass="image_tools">
                            <asp:Panel runat="server" id="pnl1" CssClass="image_tool_option" visible="false">
                                <asp:Label runat="server" id="lblToolTitle1"></asp:Label>
                                <asp:Checkbox runat="server" id="cbOption1" CssClass="cb_tools"></asp:Checkbox>
                                <div id="controlInput1" class="XtraOptions" style="display:none">
                                    <asp:Label ID="lblFileInfo1" runat="server" CssClass="current_file"></asp:Label>
                                    <div class="form-group">
                                        Minimum Size:
                                        <asp:Textbox runat="server" id="txtToolWidth1" CssClass="current_file_width custom-input"></asp:Textbox>
                                        <span class="size_option">X</span>
                                        <asp:Textbox runat="server" id="txtToolHeight1" CssClass="current_file_height custom-input"></asp:Textbox>
                                        <span class="size_options">pixels</span>
                                    </div>
                                </div>
                            </asp:Panel>
                            <asp:Panel runat="server" id="pnl2" CssClass="image_tool_option" visible="false">
                                <asp:Label runat="server" id="lblToolTitle2"></asp:Label>
                                <asp:Checkbox runat="server" id="cbOption2" CssClass="cb_tools"></asp:Checkbox>
                                <div id="controlInput2" class="XtraOptions" style="display:none">
                                    <asp:Label ID="lblFileInfo2" runat="server" CssClass="current_file"></asp:Label>
                                    <div class="form-group">
                                        Minimum Size:
                                        <asp:Textbox runat="server" id="txtToolWidth2" CssClass="current_file_width custom-input"></asp:Textbox>
                                        <span class="size_option">X</span>
                                        <asp:Textbox runat="server" id="txtToolHeight2" CssClass="current_file_height custom-input"></asp:Textbox>
                                        <span class="size_options">pixels</span>
                                    </div>
                                </div>
                            </asp:Panel>
                            <asp:Panel runat="server" id="pnl3" CssClass="image_tool_option" visible="false">
                                <asp:Label runat="server" id="lblToolTitle3"></asp:Label>
                                <asp:Checkbox runat="server" id="cbOption3" CssClass="cb_tools"></asp:Checkbox>
                                <div id="controlInput3" class="XtraOptions" style="display:none">
                                    <asp:Label ID="lblFileInfo3" runat="server" CssClass="current_file"></asp:Label>
                                    <div class="form-group">
                                        Minimum Size:
                                        <asp:Textbox runat="server" id="txtToolWidth3" CssClass="current_file_width custom-input"></asp:Textbox>
                                        <span class="size_option">X</span>
                                        <asp:Textbox runat="server" id="txtToolHeight3" CssClass="current_file_height custom-input"></asp:Textbox>
                                        <span class="size_options">pixels</span>
                                    </div>
                                </div>
                            </asp:Panel>
                            <asp:Panel runat="server" id="pnl4" CssClass="image_tool_option" visible="false">
                                <label for="cbOutput4" class="output_option">OUTPUTS TO JPG</label>
                                <asp:Checkbox runat="server" id="cbOption4" CssClass="cb_tools"></asp:Checkbox>
                            </asp:Panel>
                            <asp:Panel runat="server" id="pnl5" CssClass="image_tool_option" visible="false">
                                <label for="cbOutput5" class="output_option">OUTPUTS TO PDF</label>
                                <asp:Checkbox runat="server" id="cbOption5" CssClass="cb_tools"></asp:Checkbox>
                            </asp:Panel>
                        </asp:Panel>
                    </div>
                </div>

            </div>
        </div>
        <div class="form-group">
            <div class="image_platform">
                <asp:Label ID="lblPlatform" runat="server" Text="PLATFORM" AssociatedControlID="ddlPlatform" CssClass="col-sm-2 control-label"></asp:Label>
                <div class="col-sm-10">
                    <asp:DropDownList ID="ddlPlatform" runat="server" CssClass="form-control"></asp:DropDownList>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="image_themes">
                <asp:label runat="server" text="THEMES" associatedcontrolid="txtTags" cssclass="col-sm-2 control-label"></asp:label>
                <div class="col-sm-10">
                    <asp:TextBox ID="txtTags" runat="server" CssClass="form-control" TextMode="MultiLine"></asp:TextBox>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Related FAQ</label>
            <div class="col-sm-10">
                <div class="image_faq">
                    <ul id="faqList">
                        <asp:Repeater ID="rptFaq" runat="server">
                            <itemtemplate>
                                <li class="list_faq" data-questionid="<%# Eval(" questionid") %>
                                    " data-question="<%# Eval("question") %>">
                                    <input type="hidden" name="<%# " question" + container.itemindex %>" Value="<%# Eval("questionID") %>"><%# Eval("question") %></input>
                                    <span><a href="#" class="delete_faq">Remove</a></span>
                                </li>
                            </itemtemplate>
                        </asp:Repeater>
                    </ul>
                    <asp:Label ID="lblFaq" runat="server" Text=""></asp:Label>
                    <asp:DropDownList ID="ddlFaq" runat="server" CssClass="form-control"></asp:DropDownList>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="pull-right">
                    <asp:Button ID="btnCancel" runat="server" Text="Cancel" CssClass="btn btn-primary" OnClick="btnCancel_Click" />
                    <asp:Button ID="btnSave" runat="server" Text="Save" CssClass="btn btn-default" OnClick="btnSave_Click" />
                </div>
                <div class="clearboth">&nbsp;</div>
            </div>
        </div>

        <!-- PAGE CONTENT ENDS -->
