﻿<link rel="stylesheet" href="/styles/slider.css" />
<div id="modal">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="close()"><span aria-hidden="true">&times;</span></button>
    <tabset>
        <tab heading="INFORMATION" active="previewTab">
            <div id="tab1">
                <div class="col-md-6 PadLeft">
                    <div class="modal_image" data-ng-show="asset.asset.bucketTypeID!=1">
                        <img alt="{{asset.asset.title}}" src="{{asset.asset.path}}" />
                        <a href="{{asset.asset.path}}" target="_blank" data-ng-if="asset.asset.bucketTypeID==2">Click for Large Preview</a>
                    </div>
                    <div class="modal_video" data-ng-show="asset.asset.bucketTypeID==1">
                        <iframe width="500" height="370" data-ng-src="{{trustedLink}}" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-6 PadRight">
                    <div class="modal_cnt">
                        <span class="modal_title">{{asset.asset.title}}</span>
                        <span class="modal_description">{{asset.asset.description}}</span>
                    </div>
                </div>
                <div class="clearboth">&nbsp;</div>
                <div class="modal_faq">
                    <label class="faq_title">RELATED FAQ</label>
                    <div class="FAQsList">
                        <div data-ng-repeat="faq in resourceQuestions">
                            <a class="question_faq" href="faqs?id={{faq.questionID}}" target="_blank">{{faq.question}}</a>
                        </div>
                    </div>
                </div>
                <div class="clearboth">&nbsp;</div>
            </div>
        </tab>
        <tab data-ng-if="asset.asset.bucketTypeID!=1" active="downloadTab" heading="DOWNLOAD FILE">

            <div class="col-md-6 PadRight">
                <div class="modal_image">
                    <img alt="{{asset.asset.title}}" src="{{asset.asset.path}}" />
                    <a href="{{asset.asset.path}}" target="_blank" data-ng-if="asset.asset.bucketTypeID==2">Click for Large Preview</a>
                </div>
            </div>
            <div class="col-md-6 PadLeft">
                <!-- FILE INFORMATION -->
                <div class="form-group">
                    <h1>Dimension Options</h1>
                    <div class="modal_tools">
                        <label id="lblFileInfo1" data-ng-if="asset.asset.bucketTypeID!=1" class="custom-label">Filename: {{fileData.filename}}</label><br />
                        <label id="lblFileInfo2" data-ng-if="asset.asset.bucketTypeID!=1" class="custom-label">Size: {{fileData.filesize}}</label> | <label id="lblFileInfo3" data-ng-if="asset.asset.bucketTypeID==2" class="custom-label">Width: {{fileData.width}} | Height:{{fileData.height}}</label>
                    </div>
                </div>

                <!--IMAGE TOOLS-->
                <div  data-ng-if="asset.asset.bucketTypeID==2">
                    <div data-ng-repeat="tool in resourceTools | filter:!tool.selected===true">
                        <div data-ng-if="tool.toolID==13">
                            <p>Use the slider to adjust the size or enter the dimensions below</p>
                            <div class="SizeControllers">
                                <span>SMALLEST</span><span class="pull-right">LARGEST</span>
                                <div class="clearboth">&nbsp;</div>
                            </div>
                            <slider floor="100" ceiling="{{fileData.width}}" step="1" precision="4" ng-model="newDim.width" ng-init="150"></slider>
                        </div>
                        <div data-ng-if="tool.toolID==13" class="MarginBottom">
                            <div class="modal_title MarginBottom">
                                OUTPUT SIZE
                            </div>
                            <input type="text" id="imageWidth" class="current_file_width custom-input" data-ng-model="newDim.width" data-ng-init="tool.width" data-ng-change="setImageHeight($index)" />
                            <span class="size_option">X</span>
                            <input type="text" id="imageHeight" class="current_file_height custom-input" data-ng-model="newDim.height" data-ng-init="tool.height" data-ng-change="setImageWidth($index)" />
                            <span class="size_options">pixels</span>
                        </div>

                        <div data-ng-if="tool.toolID==14||tool.toolID==15||tool.toolID==16">
                            <input name="radio_tool" type="radio" id="radio_{{$index}}" data-ng-model="selectedImageTool" data-ng-click="watchImageOption(tool)" />
                            <label for="radio_{{$index}}" class="custom-label">{{tool.description}}</label>
                        </div>
                    </div>
                </div>
                <!--PRINT MEDIA TOOLS-->
                <div data-ng-if="asset.asset.bucketTypeID==4">
                    <div data-ng-repeat="tool in resourceTools | filter:!tool.selected===true">
                        <div data-ng-if="tool.toolID==19||tool.toolID==20||tool.toolID==21" class="SizeOptions">
                            <input name="radio_tool" type="radio" id="radio_{{$index}}" data-ng-model="selectedPrintTool" data-ng-init="selectedPrintTool = tool.width" data-ng-click="watchPrintOption(tool)" />
                            <label for="radio_{{$index}}" class="custom-label">{{tool.description}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearboth">&nbsp;</div>
            <div class="ModalFooterArea">
                <!--IMAGE DOWNLOAD BUTTONS-->
                <div class="modal_footer" data-ng-if="asset.asset.bucketTypeID==2">
                    <div data-ng-if="asset.asset.bucketTypeID==2" data-ng-repeat="tool in resourceTools | filter:!tool.selected===true" class="DownloadModalBtns">
                        <span data-ng-if="tool.toolID==18"><a data-ng-click="downloadImagePDF(asset.asset, newDim.width)" class="btn btn-default btn-block"> PDF </a></span>
                        <span data-ng-if="tool.toolID==17"><a data-ng-click="downloadImageJPG(asset.asset, newDim.width)" class="btn btn-default btn-block"> JPG </a></span>
                    </div>
                    <h1 class="DownloadFooter">DOWNLOAD AS:</h1>
                    <div class="clearboth">&nbsp;</div>
                </div>
                <!--PRINT MEDIA DOWNLOAD BUTTONS-->
                <div class="modal_footer" data-ng-if="asset.asset.bucketTypeID==4">
                    <div data-ng-repeat="tool in resourceTools | filter:!tool.selected===true" class="DownloadModalBtns">
                        <span data-ng-if="tool.toolID==22"><a data-ng-click="downloadPrintJPG(asset, printDim.width)" class="btn btn-default btn-block"> JPG </a></span>
                        <span data-ng-if="tool.toolID==23"><a data-ng-click="downloadPrintPDF(asset, printDim.width)" class="btn btn-default btn-block"> PDF </a></span>
                    </div>
                    <h1 class="DownloadFooter">DOWNLOAD AS:</h1>
                    <div class="clearboth">&nbsp;</div>
                </div>
                <div class="modal_footer_document" data-ng-if="asset.asset.bucketTypeID==3">
                    <span><a class="btn btn-default pull-right" data-ng-click="downloadFile(asset)">DOWNLOAD</a></span>
                    <div class="clearboth">&nbsp;</div>
                </div>
            </div>
        </tab>
        <tab data-ng-if="asset.asset.bucketTypeID==1" active="downloadTab" heading="GET EMBEDDED CODE">
            <div class="col-md-6 PadLeft">
                <div class="modal_video">
                    <iframe width="500" height="370" data-ng-src="{{trustedLink}}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6 PadRight">
                <h1>Video Size</h1>
                <div class="modal_tools">
                    Choose a Size
                    <div data-ng-repeat="tool in resourceTools | filter:!tool.selected===true">
                        <div class="SizeOptions">
                            <input name="radio_tool" type="radio" id="radio_{{$index}}" data-ng-model="selectedVideoSize" data-ng-click="watchVideoSize(tool)" />
                            <label for="radio_{{$index}}" class="custom-label">{{tool.description}}</label>
                            <div data-ng-if="tool.toolID==12">
                                <input type="text" id="videoWidth" class="current_file_width custom-input" data-ng-model="newVideo.width" data-ng-init="tool.width" data-ng-change="setVideoHeight(tool.width)" />
                                <span class="size_option">X</span>
                                <input type="text" id="videoHeight" class="current_file_height custom-input" data-ng-model="newVideo.height" data-ng-init="tool.height" data-ng-change="setVideoWidth(tool.height)" />
                                <span class="size_options">pixels</span>
                            </div>

                            </div>
                        </div>
                    </div>
                </div>

            <div class="clearboth">&nbsp;</div>
            <div class="modal_footer_video">
                <h1>EMBEDDED CODE:</h1>
                Copy this code to your website template to embed this video on your website.
                <div class="row embedded_cnt">
                    <div class="col-md-10">
                        <div class="iframe_code">
                            <textarea class="form-control" rows="5">{{embedCode}}</textarea>
                        </div>
                    </div>
                    <div class="col-md-2" style="padding-left: 0px;">
                        <a class="btn btn-default btn-block copy-btn" clip-copy="getTextToCopy()" clip-click="doSomething()" >COPY</a>
                    </div>
                    <div class="clearboth">&nbsp;</div>
                </div>
            </div>
        </tab>
    </tabset>
</div>

