
<div id="modal">
    <div class="modal-header-custom">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="close()"><span aria-hidden="true">&times;</span></button>
        <h1>Filter by Theme</h1>
    </div>
    <div class="modal-body-custom">
        Select one or more themes.
        <div class="clearboth">&nbsp;</div>
        <!-- <span ><a class="btn btn-default"> CLEAR </a></span> -->
        <div ng-repeat="opt in themes" class="FloatedList">
            <input type="checkbox" name="selectedThemes[]" ng-model="opt.selected" ng-change="watchTheme(opt)" id="theme_{{$index}}">
            <label for="theme_{{$index}}"><span></span>{{opt.theme}}</label>
        </div>
        <div class="clearboth">&nbsp;</div>
    </div>
    <div class="modal-footer-custom">
        <!-- <span ><a class="btn btn-default" data-ng-click="close()"> CLOSE </a></span> -->
        <span ><a  class="btn btn-default"> Filter by Themes </a></span>
    </div>
</div>

