﻿<%@ Control Language="C#" AutoEventWireup="true" %>

<script language="c#" runat="server">
    public void Page_Load(object sender, EventArgs e){
		ltLogo.Text = "<img src=\"" + rbm.getLogo() + "\"  alt=\"Home Page\" class=\"platform_logo\" />";
    }
</script>

<asp:Literal ID="ltLogo" runat="server"></asp:Literal>