﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="how_to.ascx.cs" Inherits="files_how_to" %>
<%@ Register TagPrefix="inc" Namespace="DAM" Assembly="App_Code" %>
<div id="admin_resource" class="row">

    <!-- SIDEBAR START -->
    <div id="sidebar" class="col-md-3">  
        <h2>How To</h2>  

    </div>
    <!-- SIDEBAR ENDS -->

    <!-- PAGE CONTENT STARTS -->
    <div id="PgCnt" class="col-md-9">
        <h1>How To <img src="/images/bg_title.png" class="title_decor" /></h1>
    </div>

</div>