﻿@charset "utf-8";
/* CSS Document */

/*   
Client: Baker & Taylor - DAM
Author: RiGHT BRAiN MEDiA
Author URL: www.rightbrainmedia.com
*/

/*------------------------------------------------*/
/*------------------------------------------------*/
/* ADD CUSTOM BACKGROUNDS/COLORS HERE
/*------------------------------------------------*/
/*------------------------------------------------*/

/*------------------------------------------------*/
/* BUTTONS
/*------------------------------------------------*/
.btn-default            { background: #14afbe; color: #FFF; }
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover { background: #129ca9; color: #FFF; }

/*------------------------------------------------*/
/* SLIDER
/*------------------------------------------------*/
.SliderContainer		{ background: #a6dae9; }
.SliderContainer h1 	{ color: #2c5770; }

/*------------------------------------------------*/
/* NAVIGATION
/*------------------------------------------------*/
ul.menu li a:link		{ color: #2c5770; }
ul.menu li a:visited	{ color: #2c5770; }
ul.menu li a:hover		{ color: #14afbe; border-bottom: solid 3px #fdc00f; }
ul.menu li a:active, ul.menu li a.active 	{ color: #14afbe; border-bottom: solid 3px #fdc00f; }

/*------------------------------------------------*/
/* SIDEBAR
/*------------------------------------------------*/
#sidebar 				{ background: #f2f6f9; color: #565656; }
#sidebar h2             { color: #14afbe; }

/*------------------------------------------------*/
/* CONTENT
/*------------------------------------------------*/
#PgCnt h1               { color: #14afbe; }
#PgCnt h2               { color: #14afbe; border-top: solid 1px #2c5770; border-bottom: solid 1px #2c5770; }
