.class_select		{height: auto; }

.stButton			{margin: 2px 2px 0 2px !important}

.main_menu > li		{display: block; position: relative}
.main_menu > li a		{position: relative; margin-top: inherit; float: left; 
*clear: expression(
style.marginTop = "" + (offsetHeight < parentNode.offsetHeight ? parseInt((parentNode.offsetHeight - offsetHeight) / 2) + "px" : "0"),
style.clear = "none", 0
);}

.login_box input		{width: 270px}
.login_box ul li		{height:32px}
.login_box .btns		{height: 44px}
.publication_tbl .action2	{width: 100px !important}

.pub_builder .sort .order	{font-size: 14px; line-height: 16px; width: 30px; padding: 4px 2px; height: auto}
.pub_builder .sort .order_fixed	{font-size: 14px; line-height: 16px; width: 30px; padding: 4px 2px; height: auto}
a.sm_btn		{margin: 0 6px; width: 35%}
a.iecopy		{width: 48% !important; margin: 5px 6px 0 6px !important}
a.iedelete		{margin: 5px 0px 0 0px !important; height: 20px}
