﻿@charset "utf-8";
/* CSS Document */

/*   
Client: Baker & Taylor - DAM
Author: RiGHT BRAiN MEDiA
Author URL: www.rightbrainmedia.com
*/

/*------------------------------------------------*/
/* GLOBAL YR
/*------------------------------------------------*/
body 					{ background: #FFF; color: #565656; font: normal 12px/21px Tahoma, Arial, sans-serif; padding: 0; margin: 0; }
* 						{ margin: 0; padding: 0; outline: none; border: none; list-style: none; }
.clearboth 				{ clear: both; height: 0; font-size: 0; line-height: 0; overflow: hidden; }
img 					{ border: 0; text-decoration: none; }
h1, h2, h3, h4 			{ letter-spacing: normal; }
h1 						{ font: 300 39px/39px 'Open Sans', Arial, sans-serif; text-transform: uppercase; }
h4 						{ color: #2c5770; font: bold 13px/13px Arial, sans-serif; text-transform: uppercase; letter-spacing: 1px; }
.CntWrapper 			{ width: 980px; padding: 0 15px; margin: 0 auto; }
.PadRight               { padding-right: 20px; }
.PadLeft                { padding-left: 20px; }
.MarginTopThirty        { margin-top: 30px; }
.MarginTopTen           { margin-top: 10px; }
.MarginTopThree         { margin-top: 3px; }
.MarginBottom 			{ margin-bottom: 10px !important; }
.NoPadLeft 				{ padding-left: 0px !important; }
.NoPadRight 			{ padding-right: 0px !important; }
.TopBottomPad 			{ padding: 5px 0; }
.videoWrapper 			{ position: relative; padding-bottom: 56.25%; /* 16:9 */ padding-top: 25px; height: 0; }
.videoWrapper iframe 	{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/*------------------------------------------------*/
/* BUTTONS
/*------------------------------------------------*/
.btn                    { border: none; border-radius: 0px; font-weight: 400; font-family: 'Open Sans', Arial, sans-serif; text-transform: uppercase; padding: 8px 12px; }
.btn i 					{ margin: 0 8px 0 0; }
.btn-xs i 				{ margin: 0; }
.btn.active, .btn:active { box-shadow: none; }
.btn-default            { background: #14afbe; color: #FFF; }
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover { background: #129ca9; color: #FFF; }
.btn-primary            { background: #b8c4cc; color: #FFF; }
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover { background: #a0acb4; color: #FFF; }
.btn-group-xs > .btn, .btn-xs { padding: 2px 5px; font-size: 11px; }
.uploadifive-button 	{ background: #14afbe !important; color: #FFF !important; text-shadow: none !important; border-radius: 0px !important; border: none !important; cursor: pointer; }
.copy-btn 				{ margin: 88px 0 0 0; }
.DownloadModalBtns 		{ width: 110px; float: right; margin-left: 10px; }

/*------------------------------------------------*/
/* HEADER
/*------------------------------------------------*/
header 					{border-bottom: solid 1px #2c5770; overflow: auto;}
header .logo			{ height: 175px; }

.logo_customreach 		{float: left; margin: 75px 0 0 0; }
.platform_logo			{float: right; max-width: 250px; margin: 27px 0 0 0; }
.platform_hdr_text		{background: #84bb0c; color: #FFF; font-size: 17px; padding: 10px 0 0 0;  border-bottom: solid 1px #2c5770;}


/*------------------------------------------------*/
/* NAVIGATION
/*------------------------------------------------*/
ul.menu 				{ clear: left; float: left; list-style: none; position: relative; left: 20%; text-align: center; padding: 0; margin: 9px 0 0 0; }
ul.menu li 				{ display: block; float: left; position: relative; font: 400 14px/16px 'Open Sans', Arial, sans-serif; text-transform: uppercase; border-right: solid 1px #a6dae9; padding: 0 25px; margin: 0 0 8px 0; }
ul.menu li:last-child, ul.menu li.last 	{ border-right: none; }
ul.menu li a:link		{ color: #2c5770; text-decoration: none; padding: 0 0 3px 0; }
ul.menu li a:visited	{ color: #2c5770; text-decoration: none; }
ul.menu li a:hover		{ color: #14afbe; text-decoration: none; border-bottom: solid 3px #fdc00f; }
ul.menu li a:active, ul.menu li a.active 	{ color: #14afbe; text-decoration: none; border-bottom: solid 3px #fdc00f; }

.AdminNavContainer 		{ display: block; margin: 0 auto; width: 960px; }
.AdminNav				{ background: #2c5770; width: 100%; padding: 8px 0; margin: 20px 0 0 0; }
ul.AdminMenu 			{ clear: left; float: left; list-style: none; position: relative; text-align: center; padding: 0; margin: 0; }
ul.AdminMenu li 		{ display: block; float: left; position: relative; font: 400 14px/16px 'Open Sans', Arial, sans-serif; text-transform: uppercase; border-right: solid 1px #a6dae9; padding: 0 25px; margin: 0; }
ul.AdminMenu li:last-child, ul.AdminMenu li.last 	{ border-right: none; }
ul.AdminMenu li a:link	{ color: #FFF; text-decoration: none; padding: 0; }
ul.AdminMenu li a:visited	{ color: #FFF; text-decoration: none; }
ul.AdminMenu li a:hover	{ color: #a6dae9; text-decoration: none; }
ul.AdminMenu li a:active, ul.AdminMenu li a.active 	{ color: #fdc00f; text-decoration: none; }

/*------------------------------------------------*/
/* SIDEBAR
/*------------------------------------------------*/
#sidebar 				{ background: #f2f6f9; color: #565656; font: normal 12px/12px Tahoma, Arial, sans-serif; padding: 20px 20px 80px 20px; }
#sidebar h2             { color: #14afbe; font: 300 25px/25px 'Open Sans', Arial, sans-serif; text-transform: uppercase; margin-top: 0; }
#sidebar h4 			{ margin: 18px 0 15px 0; }
.platform_search, .bucket_search { border-bottom: solid 1px #14afbe; padding-bottom: 15px; } 		
.SidebarList, .SidebarList li			{ margin: 8px 0; }
ul.SidebarSublist 		{ margin: 0 0 0 26px; }
.SidebarList input[type="checkbox"], .SidebarList input[type="radio"] { display: none; }
.SidebarList input[type="checkbox"] + label, .SidebarList input[type="radio"] + label { color: #565656; font: normal 12px/12px Tahoma, Arial, sans-serif; margin: 0; }
.SidebarList input[type="checkbox"] + label span { display: inline-block; width: 18px; height: 18px; margin: -1px 8px 0 0; vertical-align: middle; background: url(../images/checkbox.png) no-repeat right top; cursor: pointer; border: 1px solid #90d4da}
.SidebarList input[type="checkbox"]:checked + label span { background: url(../images/checkbox.png) no-repeat left top; }
.SidebarList input[type="radio"] + label span { display:inline-block; width: 18px; height: 18px; margin:-1px 8px 0 0; vertical-align:middle; background:url(../images/radio.png) no-repeat right top; cursor:pointer; }
.SidebarList input[type="radio"]:checked + label span { background:url(../images/radio.png) no-repeat left top; }
#sidebar .faq 			{ border-top: solid 1px #14afbe; }
#sidebar .faq:last-child{ border-bottom: solid 1px #14afbe; }
#sidebar .faq a			{ color: #2c5770; font: 400 12px/15px "Open Sans", Arial, sans-serif; text-transform: uppercase; cursor: pointer; display: block; margin: 0 !important; padding: 15px 20px 15px 0}
#sidebar .faq a:hover 	{ color: #14afbe; text-decoration: none; }
#sidebar span a 		{ color: #2c5770; font: 400 12px/15px "Open Sans", Arial, sans-serif; cursor: pointer; display: block; margin: 0 0 10px 0; }

#sidebar .faq a.active	{background: url(../images/icon_right_arrow_selected.png) no-repeat center right}

.filter_help			{display: inline-block; padding: 0 0 5px 0; color: #14afbe; }

/*------------------------------------------------*/
/* CONTENT
/*------------------------------------------------*/
.cnt 					{ padding: 10px 0 20px 0; }
.OneColTitle h1 		{ color: #14afbe; font: 300 38px/38px 'Open Sans', Arial, sans-serif; text-transform: uppercase; margin: 20px 0; }
#PgCnt h1               { color: #14afbe; font: 300 38px/38px 'Open Sans', Arial, sans-serif; text-transform: uppercase; margin: 10px 0; }
#PgCnt h2               { color: #14afbe; font: 300 25px/25px 'Open Sans', Arial, sans-serif; text-transform: uppercase; border-top: solid 1px #2c5770; border-bottom: solid 1px #2c5770; margin: 0 0 10px 0; padding: 10px 0; }
.title_decor            { margin: -6px 0 0 3px; }
.new td:first-child		{ background: url(../images/bg_new.jpg) no-repeat left center; }

.slick-slide a:hover	   	{cursor: pointer}
.slick-track			{display: table;}
.slick-initialized .slick-slide 		{display: table-cell !important; vertical-align: middle; float: none}

/*------------------------------------------------*/
/* LOGIN
/*------------------------------------------------*/
.LoginBox 				{ background: #f2f6f9; border: solid 1px #c8d2d8; width: 600px; margin: 0 auto; padding: 20px; }
.LoginBox legend 		{ color: #14afbe ; font: 300 35px/35px 'Open Sans', Arial, sans-serif; text-transform: uppercase; text-align: center; border: none; }
.ForgotLink 			{ color: #565656; text-decoration: none; display: block; margin: 15px 0 0 0; }
.error 					{ color: #a31111; font: 400 14px/14px 'Open Sans', Arial, sans-serif; text-transform: uppercase; }

/*------------------------------------------------*/
/* ACCORDION
/*------------------------------------------------*/
.accordion              { padding-right: 20px; margin: 30px 0 0 0; }
.panel                  { box-shadow: none; }
.panel-default          { border: none; }
.panel-group            { border-top: solid 1px #d9e2e9; }
.panel-group .panel + .panel { margin: 0; }
.panel-group .panel     { border-radius: 0px; }
.panel-default > .panel-heading { background: #FFF; color: #2c5770; border: none; border-bottom: solid 1px #d9e2e9; }
.panel-heading          { border-radius: 0px; padding: 0; }
.panel-heading h4 a     { color: #2c5770; font: 400 13px/13px 'Open Sans', Arial, sans-serif; text-transform: uppercase; text-decoration: none; padding: 15px 5px; display: block; }
.answer                 { color: #7ac000; font: 400 13px/13px 'Open Sans', Arial, sans-serif; text-transform: uppercase; }
.panel-default > .panel-heading + .panel-collapse > .panel-body { border: none; }
.panel-body             { padding: 10px 5px; }

/*------------------------------------------------*/
/* TABLES
/*------------------------------------------------*/
table                   { margin: 10px 0 0 0; }
table thead             { border-top: solid 1px #2c5770; }
.table > thead > tr > th, table th { color: #2c5770; font: 400 13px/13px 'Open Sans', Arial, sans-serif; text-transform: uppercase; border-bottom: solid 1px #2c5770; }
.table-hover > tbody > tr:hover { background: #f2f6f9; }
.table-custom th 		{ border-top: solid 1px #2c5770 !important; }
.table-img 				{ width: 70px; margin: 0 0 0 14px }
.TblList tr:hover td .TblBtnsCnt 	{ display: block; }
.TblBtns				{ height: 45px;}
.BtnsAdmin 				{ height: 49px !important; margin: 6px 0 0 0; }
.TblBtnsCnt				{ display: none; } 
.TD_type				{color: #299eaf; font-size: 10px}


/*------------------------------------------------*/
/* FORMS
/*------------------------------------------------*/
label 					{ color: #6f6f6f; font: 400 14px/14px 'Open Sans', Arial, sans-serif; text-transform: uppercase; }
.form-control           { color: #6f6f6f; border: solid 1px #c8d2d8; box-shadow: none; border-radius: 0px; font-family: 'Open Sans', Arial, sans-serif; }
.input-sm, select.input-sm { height: auto; padding: 2px 5px; }
.search                 { color: #b3c3cd !important; background: url(../images/icon_zoom_small.png) no-repeat right center; }
.items                  { color: #14afbe; font: 400 12px/12px 'Open Sans', Arial, sans-serif; text-transform: uppercase; }
.InputXsmall            { width: 40px !important; height: 25px; padding: 4px 8px !important; text-align: right; }
.InputSmall             { width: 60px !important; height: 25px; padding: 4px 8px !important; text-align: right; }
.form-horizontal .form-group { margin-left: 0; margin-right: 0; }
.custom-input 			{ color: #6f6f6f; border: solid 1px #c8d2d8; width: 60px; padding: 0 5px; text-align: right; }
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th { vertical-align: middle; }
.custom-label 			{ text-transform: none; font-size: 14px; }
.form-cnt 				{ color: #787878; font-size: 14px; margin: 0 0 8px 0; }
.remove-icon 			{ color: #a9acac; margin: 0 0 0 10px; cursor: pointer; }
.preview 				{ margin: 20px 0 0 0; }

/*------------------------------------------------*/
/* PAGINATION
/*------------------------------------------------*/
.CntPagination 			{ padding: 0 0 20px 0; }
.ItemsPerPg 			{ color: #2c5770 !important; font: 400 13px/13px 'Open Sans', Arial, sans-serif; text-transform: uppercase; }
.PgPrevNext a 			{ color: #abb8c1; font-size: 30px; line-height: 10px !important; }
.PgPrevNext a:hover 	{ color: #2c5770; text-decoration: none; }

/*------------------------------------------------*/
/* SLIDER
/*------------------------------------------------*/
#SliderContainer		{ background: #a6dae9; padding: 14px 0; }
#SliderContainer h1 	{ color: #2c5770; font-size: 27px; line-height: 27px; margin: 0; padding: 0 30px 14px 30px; }
.slider 				{ border-top: solid 1px #FFF; padding: 15px 30px; }
.slick-prev, .slick-next{ width: 17px; height: 36px; font-size: 0; display: block; position: absolute; top: 40%; }
.slick-prev				{ background: url(../images/arrows_slider.png) no-repeat left top; }
.slick-next 			{ background: url(../images/arrows_slider.png) no-repeat right top; right: 0; }
.slick-list				{ margin: 0 60px !important; }
.slick-slide img 		{ width: 200px; margin: 0 auto; }

/*------------------------------------------------*/
/* FOOTER
/*------------------------------------------------*/
footer					{ border-top: solid 1px #2c5770; padding: 20px 0 50px 0; margin: 10px 0 0 0; }
footer  p 				{ color: #2c5770; line-height: 12px; }
footer a 				{ color: #456b81; font-size: 13px; }

/*------------------------------------------------*/
/* MODALS
/*------------------------------------------------*/
.fade                   { background: url(../images/bg_overlay.png) repeat; }
.modal-content          { border-radius: 0px; border: none; box-shadow: none; }
#modal .nav             { background: #f2f6f9; padding: 10px 0 0 10px; }
.nav-tabs               { border: none; }
.nav-tabs > li > a      { color: #6f6f6f; background: #d9e2e9; font-weight: 400; font-size: 15px; font-family: 'Open Sans', Arial, sans-serif; text-transform: uppercase; border: none; border-radius: 0px; margin: 0; padding: 15px 20px; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { color: #13afbe; border: none; border-radius: 0px; }
.tab-content            { color: #787878; font-size: 14px; padding: 30px 0 0 0; }
.tab-content h1         { color: #13afbe; font: 300 21px/21px 'Open Sans', Arial, sans-serif; text-transform: uppercase; margin-top: 0; }
.close                  { font-size: 35px; font-weight: normal; margin: 0 20px 0 0; position: absolute; right: 0; top: 10px; }
.modal_title            { color: #437087; font-size: 15px; display: block; }
.modal-content h3       { color: #437087; font-weight: 400; font-size: 15px; font-family: 'Open Sans', Arial, sans-serif; text-transform: uppercase; }
.modal-lg               { width: 600px; }
.modal-dialog           { margin: 70px auto 0 auto; }
.modal_faq              { background: #f2f6f9; border: solid 1px #d9e2e9; margin: 10px 20px 20px 20px; }
.faq_title              { color: #13afbe; font: 400 13px/13px 'Open Sans', Arial, sans-serif; text-transform: uppercase; display: block; border-bottom: solid 1px #d9e2e9; padding: 6px 10px; }
.FAQsList 				{ height: 160px; overflow-y: scroll; padding: 5px 10px; }
.FAQsList a 			{ color: #000; margin: 0 0 5px 0;  display: block; }
.list_faq               { height: 100px; overflow-y: scroll; padding: 0px 10px; }
.modal_video            { position: relative; padding-bottom: 56.25%; /* 16:9 */; padding-top: 25px; height: 0; }
.modal_video iframe     { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.modal_footer_video, .ModalFooterArea { background: #f2f6f9; padding: 20px; margin: 20px 0 0 0; }
.modal_footer_video h1  { color: #13afbe; font: 300 21px/21px 'Open Sans', Arial, sans-serif; text-transform: uppercase;  margin: 0; }
.embedded_cnt           { margin-top: 10px; }
.modal-content textarea { font-size: 13px; }
.modal_image            { text-align: center; border: solid 1px #e0e8eb; width: 100%; }
.modal_image img        { max-width: 175px; padding: 5px; }
.modal_image a          { color: #565656; text-decoration: none; display: block; margin: 5px 0 0 0; }
.modal_image a:hover    { color: #565656; text-decoration: underline; }
.ModalDiv               { background: #13afbe; height: 1px; margin: 10px 0; }
.dimension_link         { background: none; text-transform: uppercase; margin: 15px 0 10px 0; }
.progress               { background: #d9e2e9; box-shadow: none; height: 10px; }
.progress-bar-success   { background: #8edb2b; }
.progress-bar           { box-shadow: none; }
.modal_tools 			{ color: #787878; font-size: 14px; border-top: solid 1px #13afbe; padding: 15px 0 0 0; margin: 12px 0 0 0; }
.SizeOptions 			{ margin: 5px 0; }
.SizeControllers 		{ font-size: 11px; }
slider div.bar, [slider] div.bar { background: #d9e1e8 !important; }
slider, [slider] 		{ margin: 10px 0 25px 0 !important; }
slider div.handle, [slider] div.handle { background: url(../images/icon_slider_triangle.png) no-repeat !important; border: none !important; border-radius: 0px !important; width: 14px !important; height: 8px !important; }
slider div.handle::after, [slider] div.handle::after { background: none !important; }
.DownloadFooter 		{ display: block; float: right; padding: 6px 0 0 0; }
.modal-header-custom 	{ border-bottom: solid 1px #13afbe; padding: 20px 0 10px 0; margin: 0 20px; }
.modal-header-custom h1 { color: #13afbe; font: 300 21px/21px 'Open Sans', Arial, sans-serif; text-transform: uppercase; margin-top: 0; }
.modal-body-custom 		{ color: #787878; font-size: 14px; border-bottom: solid 1px #13afbe; padding: 20px 0; margin: 0 20px; }
.FloatedList 			{ width: 45%; float: left; margin: 5px 0 0 20px; }
.FloatedList label 		{ text-transform: none; }
.modal-footer-custom 	{ padding: 20px; text-align: right; }


/*------------------------------------------------*/
/* ADMIN
/*------------------------------------------------*/
.ManageFAQ  			{ border-bottom: solid 1px #d9e2e9; }
.ManageFAQ  h3     		{ color: #2c5770; font: 400 16px/16px 'Open Sans', Arial, sans-serif; text-transform: uppercase; text-decoration: none; padding: 15px 5px; display: block; border-top: solid 1px #d9e2e9; margin: 0; cursor: pointer; }
.ManageFAQ .ui-accordion-content 	{ padding: 0 5px; }
.ManageA 				{ padding: 0 5px 15px 5px; }
.image_preview 			{ text-align: center; border: solid 1px #e0e8eb; padding: 5px; width: 100%; }
.image_preview img 		{ width: 115px; }
.tag-item 				{ background: #ffe494 !important; color: #565656 !important; border: none !important; padding: 0 15px !important; border-radius: 10px !important; height: 22px !important; font-size: 12px !important; line-height: 22px !important; }
.tag-item a 			{ color: #565656 !important; text-decoration: none; }
.XtraOptions 			{ background: #f2f6f9; padding: 20px; margin: 20px 0 0 0; }